* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.4;
}

/* Product */
.product {
	border: 5px solid black;
	width: 825px;
	margin: 50px auto;
	position: relative;
}

/* Product title */
.product-title {
	background-color: #f7f7f7;
	text-align: center;
	font-size: 22px;
	padding: 15px;
}

/* price */
.price {
	font-weight: bold;
	font-size: 24px;
}
/* shipping */
.shipping {
	font-size: 12px;
	font-weight: bold;
	color: #777;
	margin-bottom: 20px;
}

/* Sale Tag*/
.sale {
	background-color: #ec2f2f;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 7px 15px;
	display: inline-block;
	position: absolute;
	top: -17px;
	left: -34px;
	letter-spacing: 2px;
}
/* Link */
.more-info:link,
.more-info:visited {
	color: black;
}
.more-info:hover,
.more-info:active {
	text-decoration: none;
}
/* Product Details */
.details-title {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 15px;
}
/* Product Lists */
.details-list {
	list-style: square;
	/* font-size: 16px; */
	margin-left: 20px;
	/* margin-bottom: 10px; */
}

/* Color in div */
.color {
	display: block;
	/* height: 22px;
	width: 22px;
	margin-right: 10px; */
	margin-top: 30px;
}
.color-black {
	background-color: #000;
	height: 22px;
	width: 22px;
	margin-right: 10px;
	display: inline-block;
}
.color-blue {
	background-color: #0000ff;
	height: 22px;
	width: 22px;
	margin-right: 10px;
	display: inline-block;
}
.color-red {
	background-color: #ff0000;
	height: 22px;
	width: 22px;
	margin-right: 10px;
	display: inline-block;
}
.color-yellow {
	background-color: #ffff00;
	height: 22px;
	width: 22px;
	margin-right: 10px;
	display: inline-block;
}
.color-green {
	background-color: #008000;
	height: 22px;
	width: 22px;
	margin-right: 10px;
	display: inline-block;
}
.color-brown {
	background-color: #885214;
	height: 22px;
	width: 22px;
	margin-right: 0;
	display: inline-block;
}

.details-list li {
	margin-bottom: 10px;
	font-size: 16px;
}
/* Button */
.add-cart {
	background-color: #000;
	color: #fff;
	font-size: 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 15px;
	border-top: 4px solid #000;
}
.add-cart:hover {
	background-color: #fff;
	color: #000;
}
